{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Manick Albert{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'Books/css/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Imperial+Script&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
    <!-- This is the header Navigation  -->
    <div class="header">
      <div class="logo-albert-manick">
        <a href="{% url 'home' %}">Albert Manick</a>
      </div>

      <!-- Hamburger button -->
      <div class="hamburger-menu" onclick="toggleMobileNavigation()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

      <nav class="header-navigation">
        <ul class="navigation">
          <li class="{% if request.resolver_match.url_name == 'home' %}nav-selected{% endif %}">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="{% if request.resolver_match.url_name == 'purchase' %}nav-selected{% endif %}">
            <a href="{% url 'purchase' %}">Purchase</a>
          </li>
          <li class="{% if request.resolver_match.url_name == 'about' %}nav-selected{% endif %}">
            <a href="{% url 'about' %}">About</a>
          </li>
          <li class="{% if request.resolver_match.url_name == 'blog' %}nav-selected{% endif %}">
            <a href="#">Blog</a>
          </li>
          <li class="{% if request.resolver_match.url_name == 'contact' %}nav-selected{% endif %}">
            <a href="{% url 'contact' %}">Contact</a>
          </li>
        </ul>
      </nav>
      <button><a href="{% url 'login' %}">Login</a></button>
    </div>
  </header>
    <!--  -->
  <main>
    {% block content %}
    
    {% endblock %}
  </main>
  <footer>
    <div class="footer-content">
    
    <p>
      Contact us for any information
    </p>
    <p >
      Phone: <a class="info" href="tel:2547688831"> +1 (254) 768-8831</a>
    </p>
    <p >
      Email: <a href="mailto: manickalbert@manickalbert.com"> info@manickalbert.com</a>
    </p>
    <p>
      @2023 All rights reserved
    </p>
    </div>
  </footer>
  <script>
    function toggleMobileNavigation() {
        var mobileNav = document.querySelector('.mobile-navigation');
        mobileNav.style.display = (mobileNav.style.display === 'block' ? 'none' : 'block');
    }
</script>
  </body>
</html>
