{% extends "Books/base.html" %}
{% block content %}
<body>
    <main>
        <div class="login-box">
            <div class="login-box-content">
                <h2>
                    Forgot your Password?
                </h2>
                <p>Please enter your email</p>
           
               
                <div class="login-container">
                    <form method="post">
                        <input type="text" placeholder="Email" required>
                        <button class="login-button" type="submit">Login</button>
                        <p>Don't have an account yet? <a href="{% url 'signup' %}"> Sign up </a>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}