{% extends "Books/base.html" %}
{% load static %}
{% block content %}
<body>
  

      <div class="welcome-page">

        <div class="memo-box">
          <div class="memo-box-content">
            <div class="memo-content">
              <div class="memo-title">
                <h1>My Soul, Laid Bare... Why Not?</h1>
              </div>
                <p class="memo">
                  This pamphlet can be seen as a way for me to show to the
                  reader that life can be lived in many ways. Whether one lives
                  within oneself or as an extrovert, I think we can all relate
                  in many ways.
                </p>
              
            </div>

            <div class="button learn_more">
              <button>Learn More</button>
            </div>
          </div>
        </div>
      </div>

      <div class="book-content-text">
        <p class="peom-dedication">"Dedicated to Ayesha W. Jean, my motivator/muse, my late father Joseph M. Albert, my son Elijah A. J. Albert, and to you who take the time to enjoy this gift. May it help you embrace your days knowing that you are not alone in your struggles."</p>
        <h1>
          To the reader
        </h1>
        <p>What's on my mind, I can never fully express. Therefore, I chose poetry to try and share a glimpse with the world.

          Most of us are great orators, but for me, my soul is engulfed with untouchable things that I cannot keep hidden. Poetry, I realize, is a very expressive way to share with fellow beaten souls of this twisted world. However, I can never, in any objective and tangible way, fully express my thoughts. So enjoy the glimpse of my mind as I do, or at least try to share. The illustrations in this poem book were created by me.
          
          "Broken Cello" is the title I have given to my inaugural attempt at Cubism painting style. Moving on to the second artwork, completed in 2002, it is called "Nocturnal Dream" and depicts a representation of the village where I spent my childhood years. Lastly, "Flower Pot", was created in 2001, that was my very first painting.</br></br></p>
      </div>
      <div class="enjoy-poem">

        <h1>Enjoy the free samples</h1>
      </div>
      <div class="poems">
        
        <div class="peoms-divided">
        <h3 class="peoms-title">Despair</h3>
        
          
       
        <p>
          I will not despair </br>
Though darkness emerges in the air </br>

Though my heart is feeling the flair </br>
I will push away my tears. </br></br>
No matter the stormy night </br>
I won&#39;t give up my fight </br>
My courage won&#39;t take fight </br>
And I will banish all fright. </br></br>
Though I may tumble and fall </br>
I&#39;ll stand up, I&#39;ll stand tall </br>
Through hope, I will surely call </br>
With God, I&#39;ll stay strong and not bail. </br></br>
I will keep my chin up high</br>

No matter how long or how hard I will try </br>
I cannot let my spirit die</br>
For I will never despair. </br></br>
        </p>
      </div>

      <div class="peoms-divided2">
        <h3 class="peoms-title">My Solitude is not Loneliness</h3>
        <p>My solitude is not loneliness </br>Just a state of being I do not fear</br> It brings peace and comfort That I must hold dear. </br></br>
          That moment of reflection</br> On life and what I&#39;ve done </br>That chance to explore my thoughts </br>And find where I belong. </br></br>
          My solitude is not loneliness </br>But a place of rest and release</br> Where I can let go of the world </br>And find inner peace. </br></br>
          It's a time of self-discovery</br> Where I learn more about me </br>To just take a journey inward </br>Then find what I need. </br></br>
          My solitude is not loneliness </br>It's a sanctuary of my own</br> Where I can find myself </br>A place that is safe to be </br>content with thyself.</br></br>
          </p>
          </div>

          <div class="peoms-divided">
        <h3 class="peoms-title">Depression</h3>
<p>The darkness comes so suddenly</br> It takes my faith away </br> It&#39;s like a black cloud hovering </br> That won&#39;t go away</br></br>
  It takes away my energy</br>  It takes away my light</br>  It takes away my happiness</br>  It even takes away my will to fight</br></br>
  My days are filled with sadness </br> My nights are filled with tears</br>  The darkness creeps inside </br> And takes away my years</br></br>
  But I will fight this darkness</br>  I will do my best to stay strong</br>  Relentlessly, I will keep on searching </br> For the eternal light that can't ever</br>  be gone. </br></br>
  
  </p>
  </div>

  <div class="peoms-divided2">

  <h3 class="peoms-title">Solitude &amp; Loneliness</h3>
  <p>So I&#39;ve met solitude and loneliness </br>They are two but one, a space needed to grow</br> Where I take the time to be </br> And let my thoughts flow</br></br>
    Times for me to find my way </br> And learn to be my own</br> Times to search within my heart</br> And find that strength unknown</br></br>
    Solitude should never be seen as loneliness</br>But a place of balance and peace</br>A time to be content</br>And to finally feel release</br></br>
    A place of self-discovery</br>Where one can learn and grow</br>Where individuals should be content again</br>To my solitude, I know never to bow. </br></br>
    
    </p>
    </div>

    <div class="peoms-divided">

  <h3 class="peoms-title">Don&#39;t ever be afraid</h3>
  <p>
    One should never be afraid </br> To take that leap of faith</br>  To trust in oneself and in life </br> And find that new way. </br></br>
Don&#39;t ever be afraid </br> To stand up for what&#39;s right</br>  To find your voice and use it</br>  And never give up your fight. </br></br>
Don&#39;t ever be afraid </br> To take a chance and try</br>  To discover what you&#39;re made of</br>  And never be too shy. </br></br>
Don&#39;t ever be afraid </br> To make mistakes and learn </br> To turn them into something </br> That will help you grow and yearn. </br></br>
Don&#39;t ever be afraid </br> To live your life in grace </br> To create a better future </br> And make your dream come true. </br></br>
  </p>
  </div>

  <div class="peoms-divided2">
  <h3 class="peoms-title">Rise Above Yourself</h3>
 <p>Rise above yourself</br> And see what you can be</br> See the possibilities</br> That are in store for thee. </br></br> Rise above yourself</br> Go to the highest peak</br> Find the courage to move forward</br> No fear, no worries, just seek. </br></br> Rise above yourself</br> Cause if you really try</br>  You can do anything</br> And definitely reach for the sky</br></br> Rise above yourself</br>
Don&#39;t be scared to take the lead</br> With determination and courage</br> You have all you need</br></br>  Rise above yourself</br>  Be all that you can be</br> Life is an adventure</br> That&#39;s waiting for you to seize! Rise Up! </br></br>

</p> 
</div>
 
      </div>
</body>

{% endblock %}