{% extends "Books/base.html" %}
{% block content %}
<body>
    <main>
        <div class="login-box">
            <div class="login-box-content">
                <p>Create Account</p>
           
                <div class="bar-separation">
                    <p>or</p>
                </div>
                <div class="login-container">
                    <form method="post">
                        {% csrf_token %}
                        <!-- <label for="email">Email</label> -->
                        {% for field in form %}
                        {% if field.label == "Username" %}
                            <input placeholder={{ field.label }} name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}" required>
                            <!--<input placeholder="Email" type="text" id="email" name="email" required> -->
                        {% else %}
                            <!-- <label for="password">Password</label> -->
                            <input placeholder={{ field.label }} name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}" required>
                            <!--<input type="password" id="password" placeholder="Password" name="password" required> -->
                        {% endif %}
                        {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                    <li style="color: red;">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% endfor %}

                        <button class="login-button" type="submit">Sign Up</button>
                        <a href="{% url 'login' %}"> Do have an account? Login</a>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock %}