/* 
font-family: 'Calligraffitti', cursive;
font-family: 'Imperial Script', cursive;
font-family: 'Roboto', sans-serif;
*/

/* Reset and Box Sizing */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  /* Welcome Page Styles */
  .welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    padding: 20px;
  }
  
  /* Navigation Styles */
  .nav-header {
    display: flex;
    justify-content: flex-start;
  }
  
  .header {
    color: #000000;
    font-size: 48px;
    font-family: "Imperial Script", cursive;
    /* border: solid red 1px; */
  
    text-align: center;
  }
  
  .navigation {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    transition: 1s;
    padding: 5px 30px;
    transition: 0.5s;
  }
  
  .navigation a:hover {
    text-decoration: underline;
  }
  
  .home {
    background-color: black;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .home:hover {
    background-color: red;
  }
  .home a {
    color: white;
  }
  
  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
  }
  
  /* Header Styles */
  .header {
    width: 100%;
  }
  
  /* Memo Box Styles */
  
  /* Learn More Button Styles */
  button {
    background: #e50a0a;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background: #ff3333;
  }
  
  .memo-box {
    text-align: center;
  }
  
  .memo-title h1 {
    font-size: 40px;
    font-family: "Calligraffitti", cursive;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .memo {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .manick-picture {
    background-image: url("/picture/manick_picture.png");
  }
  