/* 
font-family: 'Calligraffitti', cursive;
font-family: 'Imperial Script', cursive;
font-family: 'Roboto', sans-serif;
*/

/* Reset and Box Sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  height: 8vh;
}

.logo-albert-manick a {
  text-decoration: none;

  color: #000000;
  font-size: 48px;
  font-family: "Imperial Script", cursive;
  text-align: start;
  padding: 5px;
  cursor: pointer;
  transition: color 0.5s;
}

.logo-albert-manick a:hover {
  color: #473e3e;
}

.header-navigation {
  display: flex;
}
.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.navigation a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: 1s;
  padding: 5px 30px;
  transition: 0.5s;
}

.navigation a:hover {
  text-decoration: underline;
}
.home {
  background-color: black;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.home:hover {
  background-color: red;
}
.home a {
  color: white;
}

button {
  height: 50px;
  width: 250px;
  margin: auto 0;
  background: #e50a0a;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  /* border-radius: 10px; */
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: black;
}

.welcome-page {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  height: 92vh;
}

.memo-box {
  display: flex;
  width: 70%;
  margin: auto;
  height: 80%;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url("/static/Books/images/background-picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.memo-title {
  width: 35%;
  padding: 5px;
  margin: auto;
  text-align: left;
  color: white;

}

.memo {
  width: 35%;
  margin: 10px auto;
  text-align: justify;
  padding: 5px;
  line-height: 1.5;
  color: white;


}

/* THIS IS THE FOOTER STYLE */

footer{
  background-color: rgb(37, 36, 36);
  color: white;
  text-align: left;
  padding: 15px;
  line-height: 2;
}

footer a{
  text-decoration: none;
  color: white;
}

.footer-content{
  /* border: red solid 1px; */
  width: 12%;
  margin: auto;
}

.info{
  width: 100%;
  text-align: right;
}