/* 
font-family: 'Calligraffitti', cursive;
font-family: 'Imperial Script', cursive;
font-family: 'Roboto', sans-serif;
*/

/* Reset and Box Sizing */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  height: 8vh;
}

.logo-albert-manick a {
  text-decoration: none;

  color: #000000;
  font-size: 48px;
  font-family: "Imperial Script", cursive;
  text-align: start;
  padding: 5px;
  cursor: pointer;
  transition: color 0.5s;
}

.logo-albert-manick a:hover {
  color: #473e3e;
}

.header-navigation {
  display: flex;
}
.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.navigation a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: 1s;
  padding: 5px 30px;
  transition: 0.5s;
}

.navigation a:hover {
  text-decoration: underline;
}
.home {
  background-color: black;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.home:hover {
  background-color: red;
}
.home a {
  color: white;
}

button {
  height: 50px;
  width: 150px;
  margin: auto 0;
  background: #e50a0a;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: black;
}
