/* 
font-family: 'Calligraffitti', cursive;
font-family: 'Imperial Script', cursive;
font-family: 'Roboto', sans-serif;
*/

/* Reset and Box Sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  height: 8vh;
}

.logo-albert-manick a {
  text-decoration: none;
  color: #000000;
  font-size: 48px;
  font-family: "Imperial Script", cursive;
  text-align: start;
  padding: 5px;
  cursor: pointer;
  transition: color 0.5s;
}

.logo-albert-manick a:hover {
  color: #473e3e;
}

.header-navigation {
  display: flex;
}
.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.navigation a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: 1s;
  padding: 5px 30px;
  transition: 0.5s;
}

.navigation a:hover {
  text-decoration: underline;
}

.nav-selected {
  background-color: black;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.nav-selected:hover {
  background-color: red;
}
.nav-selected a {
  color: white;
}

button {
  height: 50px;
  width: 250px;
  margin: auto 0;
  background: #e50a0a;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

button a{
  text-decoration: none;
  display: flex;
  color: white;
  padding: 14px 0;
  justify-content: center;
  align-items: center;
  margin: auto;
}

button:hover {
  background-color: black;
}

.welcome-page {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  height: 92vh;
}

.memo-box {
  display: flex;
  width: 70%;
  margin: auto;
  height: 80%;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url("/static/Books/images/background-picture.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.memo-title {
  width: 35%;
  padding: 5px;
  margin: auto;
  text-align: left;
  color: white;

}

.memo {
  width: 35%;
  margin: 10px auto;
  text-align: justify;
  padding: 5px;
  line-height: 1.5;
  color: white;

}
  /* THIS IS THE POEMS STYLE */

  .book-content-text{
    width: 50%;
    margin: auto;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    border-bottom: 5px solid #CF980A;
  }
.book-content-text h1{
  text-align: center;
  margin: 20px 0;
}

.poems{
  display: flex;
}



/* THIS IS THE FOOTER STYLE */

footer{
  background-color: rgb(37, 36, 36);
  color: white;
  text-align: left;
  padding: 15px;
  line-height: 2;
}

footer a{
  text-decoration: none;
  color: white;
}

.footer-content{
  /* border: red solid 1px; */
  width: 12%;
  margin: auto;
}

.info{
  width: 100%;
  text-align: right;
}



/* -------------------------------------------------------- */

/* THIS IS THE LOGIN STYLE */


.login-box {
  background-image: url("/static/Books/images/sean-oulashin-KMn4VEeEPR8-unsplash.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box-content {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.login-box-content h2{
  padding: 15px;
}

.login-box-content p{
  padding: 0 15px 15px;

}

.bar-separation {
  display: flex;
  align-items: center;
  width: 60%;
  margin-bottom: 20px;
}

.bar-separation::before,
.bar-separation::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000; 
  margin: 0 10px;

}

.login-button {
  background-color: #CF980A;
  width: 100%;
  margin-top: 20px;
}


.login-container form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.login-container form input{
  width: 500px;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid gray;
  border-radius: 20px;
}

.login-container form a{
  text-decoration: none;
  color: #484242;
  display: inline-block;
  margin: 0 auto; 
}

.login-container form a:hover{
  text-decoration: underline;
}

.login-container form label {
  margin-bottom: 5px;
}

.login-container form input {
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc; 
  outline: none; 
}

.login-container form input:hover{
  border-bottom: 1px solid #474747; 

}

.login-container form button {
  background-color: #CF980A;
  color: white;
  padding: 10px;
  border: 1px solid #CF980A;
  cursor: pointer;
}

.login-container form button:hover {
  background-color: #FFB400;
  border-color: #FFB400;
}

.login-container form p {
  margin: 10px 0;
}


/* THIS IS THE CONTACT STYLE */

.contact-box{
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contact-box h2{
  margin: 50px 0 0 0;
font-weight: 300;
  text-align: center;
  font-size: 30px;
  

}

.contact-box-content{
  position: relative;
  display: flex;
  width: 65%;
  height: 400px;
  margin: auto;
}

.book_picture{
  position: absolute;
  background-image: url("/static/Books/images/book_picture.png");
  background-repeat: no-repeat;
  width: 636px;
  height: 500px;
  left:0;
}

.contact-form{
  position: absolute;
  right: 80px;
  margin-right: 20px;
  width: 500px;
  height: 510px;
  background-color: #CF980A;
  box-shadow: 3px 3px 50px 12px rgba(0, 0, 0, 0.468);
  border-radius: 40px;
}

.contact-form h3{
  margin: 25px 0 0 0;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  color: white;
  
}

.form-row{
  display: flex;
  gap: 10px;
  height: 70px;

}

.contact-form form input{
  margin: auto;
  width: 40%;
  height: 50px;
  outline: none;
  border: none;
  background-color: #CF980A;
}

.contact-form input::placeholder{
  color: rgba(255, 255, 255, 0.522);
  font-size: 15;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.523);
  


}

.contact-form textarea{
  background-color: #eecf81;
  outline: none;
  display: block;
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 150px;
  margin: 50px auto 15px;
  padding: 15px;
  

}
.contact-button{
  margin: auto 50px;
  background-color: black;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  transition: color .5s;
}

.contact-button:hover{
  background-color: rgb(27, 27, 27);

}


/* THIS IS THE ABOUT STYLE */
.about-box{
  position: relative;
  width:100%;
  height: auto;
  margin:100px auto 0;
  background-color: #cf970a9f;
  border-top-left-radius: 1000px ;
  border-top-right-radius: 1000px;
  

}

.about_manick-picture img{
  width: 300px !important;
  height: auto;
  top:100px;
  position:relative;
}

.about-box_text{
  height: auto;
  width: 800px;
  margin: 50px;;
  padding: 20px;
 



}
.about-box_content{
  display: flex;
  width: 70%;
  margin: auto;
}

.about-box  h1{
  font-weight: 500;
  margin-bottom: 50px;
}
.about-box p{
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: justify;
  
}
